* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.__navbar {
  height: 70px;
}

.__footer {
  height: 60px;
}

.__my-container-outer {
  height: calc(100vh - (70px + 60px));
  background-color: #cdcdcd;
  overflow: auto;
}

.__done {
  text-decoration: line-through;
}

#btn-delete {
  color: red;
  cursor: pointer;
}
